// MAIN CONFIG FILE

params {
	outdir = './results'
	tracedir = "${params.outdir}/pipeline_info"
	condaDir = "{{cookiecutter.condaCacheDir}}"
}

profiles{
	conda{
		includeConfig 'conf/conda.conf'
	}
	slurm
	{
		includeConfig 'conf/slurm.config'
	}
	singularity
	{
		includeConfig 'conf/singularity.config'
	}
	local
	{
		includeConfig 'conf/base.conf'
	}
	test 
	{
		includeConfig 'conf/test.config'
	}
	testSL
	{
		includeConfig 'conf/test_SL.config'
	}
}

timeline {
  enabled = true
  file = "${params.tracedir}/{{cookiecutter.project_name.lower().replace(' ', '-')}}_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/{{cookiecutter.project_name.lower().replace(' ', '-')}}_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/{{cookiecutter.project_name.lower().replace(' ', '-')}}_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/{{cookiecutter.project_name.lower().replace(' ', '-')}}_dag.svg"
}
