/*
 * ------------------------------------------------------
 *  {{cookiecutter.project_slug}} singularity config file
 * ------------------------------------------------------
 * Control parameters for singularity images.
 * 2.5 supported (.simg)
 * More info in:
 * https://www.nextflow.io/docs/latest/singularity.html  
 */

singularity {
    enabled = true
    autoMounts = true
}

process.container = '$baseDir/singularity_img/environment.simg'
