/*
 * -------------------------------------------------
 *  {{cookiecutter.project_slug}} slurm config file
 * -------------------------------------------------
 * Control parameters for slurm executor.
 * More info in:
 * https://www.nextflow.io/docs/latest/executor.html#slurm 
 */

process.executor = 'slurm'

executor
{
    $slurm
    {
        // this will be the max jobs submited by nextflow
        // keep short for crowded queues, long for empty queues
        queueSize = 150
        // this tells nextflow how often it should check the job status
        pollInterval = '30sec'
    }
}
