/*
 * -------------------------------------------------
 *  {{cookiecutter.project_slug}} test config file
 * -------------------------------------------------
 * Parameters to run tests of the pipline.
 * This fiile should contain paths and general params
 * to test data that can evauate the execution of the
 * pipeline.
 * In order to modify the params here use another
 * config file with test_platform.config and 
 * overwrite the parameters there.
 * then use 
 * $ nextflow run main.nf -profile test,test_platform
 */


params {
  // option A
  params.paramA = true
  // option B
  params.paramB = "file/to/test"
}
